.button {
  display: flex;
  padding: 0 30px;
  border-radius: var(--b-radius);
  background-color: var(--primary);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  border: none;
  text-transform: capitalize;
  color: var(--white);
  cursor: pointer;
  transition: background 200ms ease-in-out;
}

.button--primary {
  background-color: var(--primary);
}

.button--secondary {
  background-color: var(--secondary);
}

.button--alternate {
  color: var(--text-c-secondary);
  background-color: var(--white);
  border: 1px solid var(--b-color);
}

.button--primary:hover {
  background-color: var(--primary-darken);
}

.button--secondary:hover {
  background-color: var(--secondary-darken);
}

.button--alternate:hover {
  border-color: var(--text-c-primary);
}

.button[disabled] {
  position: relative;
  cursor: not-allowed;
}

.button--primary[disabled],
.button--secondary[disabled],
.button--alternate[disabled] {
  opacity: var(--half-opacity)
}
