.histogram {
  height: 185px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border: 1px solid var(--b-color);
  border-radius: var(--b-radius-md);
  padding: 24px;
  padding-top: 16px;
}

.histogram__title {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-c-secondary);
  margin: 0;
}

.histogram__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.histogram__link {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--text-c-link);
  align-self: flex-end;
  text-decoration: none;
}

.histogram__count {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--text-c-primary);
  margin-bottom: 40px;
}

.histogram__graph {
  display: flex;
  align-items: flex-end;
  flex: 1;
}

.histogram__column {
  width: 3.3%;
  background-color: var(--primary);
  height: 20%;
  margin-right: 1px;
}

.histogram__column:last-child {
  margin-right: 0;
}
