.footer {
  border-top: 1px solid var(--gray-2);
  background-color: var(--white);
}

.footer__inner {
  margin: 50px auto 50px;
  padding: 0 16px;
  max-width: 640px;
  width: 100%;
}

.footer__title {
  margin-top: 0;
  margin-bottom: 18px;
  text-align: center;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: normal;
  color: var(--black);
}

.footer__text {
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  margin: 0;
}

.footer--component-page {
  background-color: var(--gray-5);
  border-top: none;
}

.footer--component-page .footer__title {
  padding: 36px 0 36px;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--gray-3);
}

@media screen and (min-width: 1200px) {
  .footer__inner {
    margin: 70px auto 136px;
  }

  .footer__title {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
  }

  .footer__text {
    font-size: 16px;
    line-height: 24px;
  }

  .footer--component-page .footer__title {
    padding: 56px 0 56px
  }
}
