@import './normalize.css';
@import '../fonts/fonts.css';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    font-family: Roboto, sans-serif;
}

:root {
    --white: #fff;
    --black: #212429;
    --primary-h: 228;
    --primary-s: 81%;
    --primary-l: 59%;
    --primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
    --primary-lighten: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + 10%), .2);
    --primary-darken: hsl(var(--primary-h), calc(var(--primary-s) - 12%), calc(var(--primary-l) - 14%));
    --secondary-h: 255;
    --secondary-s: 78%;
    --secondary-l: 60%;
    --secondary: hsl(var(--secondary-h), var(--secondary-s), var(--secondary-l));
    --secondary-lighten: hsl(var(--secondary-h), var(--secondary-s), calc(var(--secondary-l) + 10%));
    --secondary-darken: hsl(var(--secondary-h), calc(var(--secondary-s) - 12%), calc(var(--secondary-l) - 13%));
    --pink: #F784AD;
    --gray-1: #F8F9FA;
    --gray-2: #DDE2E5;
    --gray-3: #ACB5BD;
    --gray-4: #495057;
    --gray-5: #F9FAFC;

    /* other */
    --b-radius: 8px;
    --b-radius-half: 50%;
    --b-color: var(--gray-3);
    --half-opacity: .5;
    --skeleton-line-gradient: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);

    /* texts */
    --text-c-primary: var(--black);
    --text-c-secondary: var(--gray-4);
    --text-c-link: var(--primary);
    --text-c-active: var(--black);
}

.active {
    display: flex !important;
}

/* media template */
/* @media screen and (min-width: 576px) {}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1200px) {} */
