.radio {
  display: flex;
}

.radio__text {
  color: var(--gray-4);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  margin: 0;
  margin-left: 12px;
}

.radio__input {
  appearance: none;
}

.radio__icon {
  align-items: center;
  background-color: var(--white);
  border-radius: var(--b-radius-half);
  border: 1px solid var(--gray-2);
  cursor: pointer;
  display: flex;
  height: 28px;
  justify-content: center;
  width: 28px;
}

.radio__checkmark {
  color: var(--white);
  height: 18px;
  background-color: var(--primary);
  border-radius: var(--b-radius-half);
  opacity: 0;
  width: 18px;
}

.radio__input:checked ~ .radio__icon {
  border-color: var(--primary);
}

.radio__input:checked ~ .radio__icon .radio__checkmark {
  opacity: 1;
}

.radio__input:focus ~ .radio__icon {
  outline: 1px solid blue;
}


.radio__input:disabled ~ .radio__icon {
  background-color: var(--gray-2);
  border-color: var(--gray-2);
}

.radio__input:disabled ~ .radio__icon .radio__checkmark {
  opacity: 0;
}

.radio__input:disabled ~ .radio__text {
  color: var(--gray-2);
}
